
<div class="w3-col l12 s12 m12" style="padding:5px">

  <div class="w3-col  w3-white w3-round-xlarge w3-padding">
    
    <form #form="ngForm" (ngSubmit)="proceed()">


    <div class="w3-col l12 m12 s12 w3-margin-top">
      <span class="w3-margin-top myfont1 w3-small"> Post </span><br />
      <textarea #txtcontent="ngModel" name="txtcontent"  id="notecontent" [(ngModel)]="content" style="resize:none; width:100%; height:150px; color:black"></textarea>
    </div>


     <div class="w3-col l12 s12 m12 w3-margin-top">
        <div class="w3-col l12 s12 m12" style="padding:5px">
         <span class="myinvert w3-small w3-center"> Assignment Answer File</span>
         <div class="w3-round w3-border w3-light-grey w3-padding" style="width:100%; height:200px">
          <br />
           <img src="{{this.picanswerfile}}"  style="width:120px; height:120px"/><br />
           <input  type="file" id="piclogo" class="w3-small" (change)="showpicture($event,'picanswerfile','answerfile')" accept=".pdf,.zip"><br />
         </div>
         </div>
     </div>



    <br />      
    <div class="w3-col l12 s12 m12 w3-margin-top">
      <br />&nbsp;
    </div>

    <div class="w3-col w3-margin-top">
      <div class="w3-col" style="padding:5px">
        <button *ngIf="!this.startproceessing" name="next"  class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="form.invalid">  Post Answer </button>
        <button *ngIf="this.startproceessing" name="next" class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="true"> <ion-spinner></ion-spinner> Please Wait... </button>
      </div>
      
      <div class="w3-center w3-col">
        <br />
      </div>
      
      </div>

    </form>

    </div>

</div>
    
