<div class="w3-col">
  <div class="w3-col" style="padding:5px">
     <span class="myinvert w3-small w3-center"> {{headername}} </span>
      <select (change)="getselectedindex()"  #txtcategory="ngModel" name="txtcategory" [(ngModel)]="category" class="w3-input w3-round-large  w3-border-0-dark-grey   bglight w3-border w3-small"  placeholder="category of goods" value="" style="height:50px" required>
       <option value="" selected> Select {{headername}}  </option>
       <option *ngFor="let i of this.featurepost; let j = index;" [value]="this.valuearray[j]">  {{this.titlearray[j]}}  </option>
      </select>
    </div>
</div>
