
<div class="w3-col l12 s12 m12" style="padding:5px">

  <div class="w3-col w3-card w3-white w3-round-xlarge w3-padding">

    <h2> Edit Admin </h2>
    
    
    <form #form="ngForm" (ngSubmit)="proceed()">
 
      <div class="w3-col l4 m6 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"> <span class="w3-text-red">*</span>Surname</span>
           <input  #txtSurname="ngModel" name="txtSurname" [(ngModel)]="Surname" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Surname" style="height:50px" required  />
           <label *ngIf="txtSurname.invalid  && (txtSurname.dirty || txtSurname.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Surname </label>
          </div>
      </div>


       
      <div class="w3-col l4 m6 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"><span class="w3-text-red">*</span>First Name</span>
           <input  #txtFirstname="ngModel" name="txtFirstname" [(ngModel)]="Firstname" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="First Name" style="height:50px" required  />
           <label *ngIf="txtFirstname.invalid  && (txtFirstname.dirty || txtFirstname.touched)" Class="w3-text-red w3-small"> * You must enter a valid  First Name </label>
          </div>
      </div>


       
      <div class="w3-col l4 m6 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center">Middle Name</span>
           <input  #txtMiddlename="ngModel" name="txtMiddlename" [(ngModel)]="Middlename" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Middle Name" style="height:50px" />
          </div>
      </div>

      <div class="w3-col l4 m6 s12 w3-margin-top">
        <app-selectservercomp headername="Country" titlename="countryname" valuename="id" [apiurl]="this.generalservice.apiurl + this.generalservice.selectcountry"  (getselectdvalue)="getourselectdvalue($event)"></app-selectservercomp>
      </div>



      <div class="w3-col l4 m6 s12 w3-margin-top">
        <app-selectservercomp headername="State" titlename="name" valuename="id" [apiurl]="this.generalservice.apiurl + this.generalservice.selectstate"  (getselectdvalue)="getourselectdvalue($event)"></app-selectservercomp>
      </div>



      <div class="w3-col l4 m6 s12 w3-margin-top">
        <app-selectservercomp headername="Local Government" titlename="name" valuename="id" [apiurl]="this.generalservice.apiurl + this.generalservice.selectstate"  (getselectdvalue)="getourselectdvalue($event)"></app-selectservercomp>
      </div>


       
      <div class="w3-col l4 m6 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center">Email</span>
           <input  #txtEmail="ngModel" name="txtEmail" [(ngModel)]="Email" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Email" style="height:50px" required  />
           <label *ngIf="txtEmail.invalid  && (txtEmail.dirty || txtEmail.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Email </label>
          </div>
      </div>


       
      <div class="w3-col l4 m6 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center">Phone Number</span>
           <input  #txtPhonenumber="ngModel" name="txtPhonenumber" [(ngModel)]="Phonenumber" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Phonenumber" style="height:50px" required  />
           <label *ngIf="txtPhonenumber.invalid  && (txtPhonenumber.dirty || txtPhonenumber.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Phonenumber </label>
          </div>
      </div>


      
      <div class="w3-col l4 m6 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center">Address</span>
           <input  #txtAddress="ngModel" name="txtAddress" [(ngModel)]="Address" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Address" style="height:50px" required  />
           <label *ngIf="txtAddress.invalid  && (txtAddress.dirty || txtAddress.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Address </label>
          </div>
      </div>


      <div class="w3-col l4 m6 s12 w3-margin-top">
        <app-selectservercomp headername="Admin Role" titlename="name" valuename="id" [apiurl]="this.generalservice.apiurl + this.generalservice.adminrole"  (getselectdvalue)="getourselectdvalue($event)"></app-selectservercomp>
      </div>
   

      <div class="w3-col l4 s12 m12 w3-margin-top">
        <div class="w3-col l12 s12 m12" style="padding:5px">
         <span class="myinvert w3-small w3-center">Add Admin Image</span>
         <div class="w3-round w3-border w3-light-grey w3-padding" style="width:100%; height:200px">
               <app-generaluploadimage autoupload=true (getuploadurl)="receiveurl($event,1)"  (removeuploadpicture)="removefile($event,1)"></app-generaluploadimage>
         </div>
         </div>
     </div>


    <br />      
    <div class="w3-col l12 s12 m12 w3-margin-top">
      <br />&nbsp;
    </div>

    <div class="w3-col w3-margin-top">
      <div class="w3-col" style="padding:5px">
        <button *ngIf="!this.startproceessing" name="nextm"  class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="form.invalid"> Save Admin </button>
        <button *ngIf="this.startproceessing" name="next" class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="true"> <ion-spinner></ion-spinner> Please Wait... </button>
      </div>
      
      <div class="w3-center w3-col">
        <br />
      </div>
      
      </div>

 </form>

    </div>

</div>
    
