
<div class="w3-col l12 s12 m12" style="padding:5px">

  <div class="w3-col  w3-white w3-round-xlarge w3-padding">
    <form #form="ngForm" (ngSubmit)="proceed()">
 
      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"> <span class="w3-text-red">*</span>Title</span>
           <input  #txtTitle="ngModel" name="txtTitle" [(ngModel)]="Title" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Title" style="height:50px" required  />
           <label *ngIf="txtTitle.invalid  && (txtTitle.dirty || txtTitle.touched)" Class="w3-text-red w3-small"> * You must enter a valid Title </label>
          </div>
      </div>

      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center">Message Reach</span>
            <select  #txtmsgmedium="ngModel" name="txtmsgmedium" [(ngModel)]="msgmedium" class="w3-input w3-round-large  w3-border-0-dark-grey w3-small bglight w3-border"  placeholder="msgmedium" style="height:50px">
             <option value="0"> Select Destination</option>
             <option value="2"> All Parent </option>
             <option value="5"> Single Parent </option>
            </select>
          </div>
      </div>
    


      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <app-autocompserverparents headername="UserID" titlename="parentFirstname" valuename="parentid" [apiurl]="this.generalservice.apiurl + this.generalservice.viewparentapi"  (getselectdvalue)="getourselectdvalue($event)"></app-autocompserverparents>
          </div>
      </div>



      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center">Message Body</span>
           <textarea id="txtbody" class="w3-small" [(ngModel)]="body" style="resize:none; width:100%; height:120px; color:black"></textarea>
        </div>
      </div>


    <br />

    <div class="w3-col w3-margin-top">
      <div class="w3-col" style="padding:5px">
        <button *ngIf="!this.startproceessing" name="next"  class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="form.invalid"> Send Message </button>
        <button *ngIf="this.startproceessing" name="next" class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="true"> <ion-spinner></ion-spinner> Please Wait... </button>
      </div>
      
      <div class="w3-center w3-col">
        <br />
      </div>
      
      </div>


 </form>

    </div>

</div>
    
