export const environment = {
  production: true,
  apiUrl: "https://profesmsnewera.profeworld.com/",
  remoteLogoUrl:
    "https://profesmsnewera.profeworld.com/files/sitefiles/neweralogo.jpg",
  localLogoUrl: "assets/images/neweralogo.jpg",
  schoolName: "New Era Model School",
  schoolAddress: "97 Jakpa Road Effurun, Delta State",
  paystackUrl: "",
};
