.btncolor {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }


  .btntextcolor {
    color: var(--ion-color-primary);
  }



  .bglight {
    background: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
  }