<form #form="ngForm">

<div class="w3-col l3" style="padding:5px"  *ngFor="let i of  this.imageuploadopt; let j = index">

    <div class="w3-card-2 w3-col w3-round-xlarge">

        <div style="margin-top: 20px;" class="w3-col w3-padding">

    <div class="w3-right-align">
      <span  (click)="removepicture(j)" class="w3-red w3-padding w3-round-xlarge w3-small w3-center"> &nbsp; X  &nbsp; </span>
    </div>

   
      <div *ngIf="this.showtitletext" class="w3-center">
        <span class="myinvert w3-text-dark-grey w3-small w3-center"> {{this.titletext}} </span>
       </div>


      <div class="w3-col">
         <div class="w3-center">
           <br />
          <img (click)="pictureoption(j)" class="w3-round-xlarge w3-card-2" src="{{i.img1}}"  style="width:120px; height:120px"/>

          <input type="file" id="{{'picfromcam' + j }}"  style="display:none" (change)="showpicture($event,j)" accept="image/*" capture="camera">
          <input type="file" id="{{'picfromfile' + j }}" style="display:none" (change)="showpicture($event,j)" accept="image/*">


        </div>
       </div>

    <div class="w3-center w3-col">
      <br />
  </div>
    
<div class="w3-col w3-margin-top">
 
  <div class="w3-col" style="padding:5px">

    <div *ngIf="showselectbtn">
    
    <button *ngIf="!i.startproceessing" name="next" (click)="pictureoption(j)"  class="w3-blue w3-col w3-small w3-btn w3-round-xlarge w3-padding w3-margin-bottom"  style="height:40px" type="submit" [disabled]="form.invalid"> {{this.textselect}} </button>
    
    <button *ngIf="!i.startproceessing && i.hasimage" (click)="uploadpicture(j)" name="next"  class="w3-blue w3-col w3-small w3-btn w3-round-xlarge w3-padding  w3-margin-bottom"  style="height:40px" type="submit" [disabled]="form.invalid"> {{this.textupload}}  </button>
 
    <button *ngIf="i.startproceessing" name="next" class="w3-blue w3-col w3-small w3-btn w3-round-xlarge w3-padding  w3-margin-bottom"  style="height:40px" type="submit" [disabled]="true"> <ion-spinner></ion-spinner> Please Wait... </button>
 
   </div>
  
    <div *ngIf="i.startupload">  <ion-spinner></ion-spinner>   {{i.uploadprogressvideo}} % </div>

  </div>

<div class="w3-center w3-col">
    <br />
</div>
 
</div>

        </div> 

     </div>

</div>


</form>