
  <div *ngIf="this.connectionstatuscode==0" id="loader">
   
        
    <div class="w3-center">
      <br /><br /><br />
      <ion-spinner style="zoom:2"></ion-spinner>
    </div>
   

   </div>
 
 
   
   <div *ngIf="this.connectionstatuscode==1"  style="margin-bottom: 10px; margin-top: 10px" id="news">
  
    <div class="w3-col l12 s12 m12" style="padding:5px">

      <div class="w3-col  w3-white w3-round-xlarge w3-padding">
    
        <h2> Edit Goods </h2>
    
    <form #form="ngForm" (ngSubmit)="proceed()">
 
      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"> <span class="w3-text-red">*</span>Title</span>
           <input  #txtTitle="ngModel" name="txtTitle" [(ngModel)]="Title" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Title" style="height:50px" required  />
           <label *ngIf="txtTitle.invalid  && (txtTitle.dirty || txtTitle.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Title </label>
          </div>
      </div>
    


      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"> <span class="w3-text-red">*</span>Cost Price</span>
           <input  #txtCostPrice="ngModel" name="txtCostPrice" [(ngModel)]="CostPrice" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Cost Price" style="height:50px" required  />
           <label *ngIf="txtCostPrice.invalid  && (txtCostPrice.dirty || txtCostPrice.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Cost Price </label>
          </div>
      </div>
    
    
      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"> <span class="w3-text-red">*</span>Selling Price</span>
           <input  #txtSellingPrice="ngModel" name="txtSellingPrice" [(ngModel)]="SellingPrice" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Selling Price" style="height:50px" required  />
           <label *ngIf="txtSellingPrice.invalid  && (txtSellingPrice.dirty || txtSellingPrice.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Selling Price </label>
          </div>
      </div>
    

      <div class="w3-col l12 m12 s12 w3-margin-top">
        <div class="w3-col" style="padding:5px">
           <span class="myinvert w3-small w3-center"> <span class="w3-text-red">*</span>Description</span>
           <input  #txtDescription="ngModel" name="txtDescription" [(ngModel)]="Description" class="w3-input w3-round-large w3-small  w3-border-0-dark-grey   bglight w3-border"  placeholder="Description" style="height:50px" required  />
           <label *ngIf="txtDescription.invalid  && (txtDescription.dirty || txtDescription.touched)" Class="w3-text-red w3-small"> * You must enter a valid  Description </label>
          </div>
      </div>


      <div class="w3-col l4 s12 m12 w3-margin-top">
        <div class="w3-col l12 s12 m12" style="padding:5px">
         <span class="myinvert w3-small w3-center">Add Item Image </span>
         <div class="w3-round w3-border w3-light-grey w3-padding" style="width:100%; height:200px">
               <app-generaluploadimage autoupload=true (getuploadurl)="receiveurl($event,1)"  (removeuploadpicture)="removefile($event,1)"></app-generaluploadimage>
         </div>
         </div>
     </div>


    <br />

    <div class="w3-col w3-margin-top">
      <div class="w3-col" style="padding:5px">
        <button *ngIf="!this.startproceessing" name="next"  class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="form.invalid"> Save Goods </button>
        <button *ngIf="this.startproceessing" name="next" class="w3-primary w3-col w3-btn w3-round-large w3-padding w3-small"  style="height:50px" type="submit" [disabled]="true"> <ion-spinner></ion-spinner> Please Wait... </button>
      </div>
      
      <div class="w3-center w3-col">
        <br />
      </div>
      
      </div>


   </form>
    
        </div>
    
    </div>

  </div>

  
  <div *ngIf="this.connectionstatuscode==2">
    <div class="w3-col l12 s12 m12 w3-card-0 w3-border w3-center  w3-white w3-margin-top w3-margin-bottom w3-round-xlarge" style="height:300px">

      <br />  <br />
     <h3> No Data Return </h3>
 
     <br />  <br />
 
     <p> Sorry we could not find any student, is either the student has being deleted or does. <br /><br />  </p>


     <p class="w3-hide"> <br /><a class="w3-btn w3-round-large w3-primary" style="width:80px"> Home </a> </p>
 
    
    </div>
  </div>


  <div *ngIf="this.connectionstatuscode==3">
    <div class="w3-col l12 s12 m12 w3-card-0 w3-border w3-center w3-white w3-margin-top w3-margin-bottom w3-round-xlarge" style="height:300px">

      <br />  <br />
     <h3> No Network Connection </h3>
 
     <br />  <br />
 
     <p> Connect to the Internet and try again Later <br /><br /> </p>

     <p> <br /><a (click)="loadpost()" class="w3-btn w3-round-large w3-primary" style="width:80px"> Retry </a> </p>
 
    
    </div>
  </div>
